# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# Node / Next.js
node_modules/
.next/
out/
next-env.d.ts

# SQLite
*.db
*.sqlite
*.sqlite3

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.vercel
